/*   Подвал    */
.footer {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-logo-web {
  color: var(--accent-color);
}

.footer-logo-studio {
  color: var(--footer-text-color);
}
.footer-address-list {
  list-style: none;
  margin-top: 20px;
  /* width: 231px; */
}
.footer-address-location-link {
  font-family: var(--maine-font);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: var(--footer-text-color);
}
.footer-address-contact-link {
  font-family: var(--maine-font);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: var(--footer-text-color);
  opacity: 0.6;
}
.address {
  font-style: normal;
}

.contaсt-navigation {
  margin-right: 70px;
  width: 231px;
}
.flex {
  display: flex;
}
.social {
  /* display: block; */
  padding-top: 12px;
}

.slogan {
  font-family: var(--maine-font);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
}
.connect-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.connect-item {
  margin-right: 10px;
}

/* == ОБЩЕЕ == Подвал - акцент ссылок - иконки соц. сетей */
.connect-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--logo-text-color-10p);
  color: var(--logo-text-color);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border-radius: 50%;
    background-color: var(--accent-color);
  }
}

/* Подвал иконка соц. сетей */
.connect-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

/* Подвал - Подпишитесь на рассылку  - форма для подписания */
.subscribe {
  width: 570px;
  height: 86px;
  padding-top: 12px;
  margin-left: 93px;
  /* margin: 72px 0 94px 93px; */
}
/* Подвал - Подпишитесь на рассылку */
.subscribe-text {
  font-family: var(--maine-font);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--logo-text-color);

  /*outline: 1px solid orange;*/
}

/* Подвал - форма заполнения */
.subscribe-form {
  display: flex;
}

/* Подвал - кнопка отправить */
.subscribe-button {
  display: flex;
  align-items: center;
  width: 200px;
  height: 50px;
  margin-top: 20px;
  margin-left: 12px;
  padding-left: 29px;
  padding-right: 28px;
  border: none;
  border-radius: 4px;
  background-color: var(--subscribe-button-color);
  box-shadow: 0px 4px 4px var(--button-shadow-box);
  &:focus {
    outline: 2px solid black;
  }
}

/* Подвал - поле заполнения */
.footer-input {
  width: 358px;
  height: 50px;
  margin-top: 20px;
  padding-left: 16px;
  font-family: var(--maine-font);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  border: 1px solid var(--input-border);
  border-radius: 4px;
  background-color: transparent;
  color: var(--footer-input-user-text);
}

/* Подвал - надпись на кнопке "Подписаться" */
.subscribe-button-text {
  font-family: var(--maine-font);
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  /* identical to box height, or 187% */

  letter-spacing: 0.06em;

  color: var(--subscribe-button-text);
}
/* Подвал - иконка для кнопки "Подписаться"*/
.subscribe-button-icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  /* fill: #fff; */
}
